* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/** SHARED BETWEEN DIFFERENT SECTIONS */
nav, #shoppingCart {
    background-color: #e33535;
    color: #fff;
}

#shoppingCart, .card {
    border-radius: 0.4rem;
}

.nav-links a, .card-shop, .actions .img-button, .remove {
    background-color: #f6bf26;
    border-radius: 0.4rem;
}

.nav-links a ,.card-img, .card-shop, .actions .img-button, .remove {
    box-shadow: -1px 2px 8px black;
}

/* NAVBAR STYLES */
nav {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.nav-brand {
    position: absolute;
    top: 15px;
    left: 10px;
}

.nav-title {
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
}

/* PRODUCTOS */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* CARDS STYLE */
.card {
    width: 250px;
    background-color: #343232;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.card h2, .card-type {
    font-weight: lighter;
}

.card-img {
    background: no-repeat center center;
    background-size: cover;
    width: 250px;
    height: 150px;
    border-radius: 0.3rem;
    margin-bottom: 20px;
}

.card h2 {
    text-align: center;
}

.card-price, .card-type {
    text-align: center;
    font-size: 2.3rem;
}

.card-shop {
    text-align: center;
    width: 90%;
    padding: 0.4rem 0.2rem 0.2rem;
    margin: 10px auto;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions .img-button {
    padding: 0.3rem;
}

/* SHOPPING CART STYLES */
#shoppingCart::before, #shoppingCart {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#shoppingCart::before {
    content: '';
    background: url("../media/images/main/shopping-cart.png") no-repeat center center #e33535;
    background-size: 40px;
    position: absolute;
    top: -50px;
    left: 80%;
    height: 50px;
    width: 50px;
}

#shoppingCart {
    position: fixed;
    right: 2rem;
    bottom: -1rem;
    max-height: 0;
    padding: 0.5rem 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: max-height 2s ease, bottom 1s linear;
}

#shoppingCart:hover {
    max-height: 100vh;
    bottom: 0;
}

#shoppingCart tr td, #shoppingCart tr th {
    padding: 0 0.5rem;
    text-align: center;
}

#shoppingCart .card-img {
    width: 80px;
    height: 60px;
    box-shadow: none;
}

.img-button {
    cursor: pointer;
}

.shopping-product-price {
    border: none;
    background-color: transparent;
    text-align: center;
    color: #fff;
}

.remove {
    padding: 0.25rem;
}

#shopping-final-price {
    text-align: right;
    padding-right: 1.7rem;
}